[submodule "colors"]
	path = colors
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "docset/phpdoc-ja-docset"]
	path = docset/phpdoc-ja-docset
	url = git@github.com:miukoba/phpdoc-ja-docset.git
